.card {
  margin-top: 5rem;
  display: flex;
  row-gap: 5rem;
  column-gap: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 60px;
  margin-left: 0px;
}

.single_card {
  box-shadow: 0px 0px 4px rgb(168, 168, 168);
  height: 300px;
  width: 250px;
  display: flex;
  padding: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.single_card img {
  margin-bottom: 30px;
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.item_title {
  width: 220px;
}

.item_title h5 {
  color: black;
  padding: 10px;
}

.item_price  {
  padding: 5px;
  font-size: large;
  font-weight: 700;
  color: rgb(16, 177, 245);
  transition: all 0.3s ease;
  will-change: transform;
}

.item_cart {
  cursor: pointer;
  padding: 5px;
  font-size: large;
  font-weight: 700;
  color: white;
  background-color: rgb(32, 62, 72);
  will-change: transform;
  transition: .4s;
}


  .item_cart:active {
  animation: press 0.2s 1 linear;
  }
  
  @keyframes press {
  0% {
  transform: scale(1);
  }
  
  50% {
  transform: scale(0.92);
  }
  
  to {
  transform: scale(1);
  }
  }

