.register_page{
    width: 100%;
    height: 90vh; 
    text-align: center;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.register_card{
    margin-top: 10px;
    width: 45%;
    height: 83%;
    border-radius: 3px;
    box-shadow: 0 0 10px black;
    background-color: black;
    padding: 50px;
}

.register_text{
    font-size: 30px;
    font-family: cursive;
    font-weight: 600;
    letter-spacing: 1px;
}



.register_form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.register_user{
    outline: none;
    width: 80%;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    background-color: black;
    border: 1px solid rgb(23, 187, 237);
    border-radius: 13px;
    margin-bottom: 15px;
}

.register_pass{
    width: 80%;
    outline: none;
    font-size: 15px;
    color: white;
    padding: 10px 15px;
    background-color: black;
    border: 1px solid rgb(23, 187, 237);
    border-radius: 13px;
    margin-bottom: 15px;

}

.Smessage{
    color: rgba(179, 175, 175, 0.678);
    height: 20px;
    padding: 0 3px;
}


.registerBtn{
    outline: none;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    padding: 10px 40px;
    background-color: black;
    border: 1px solid rgb(23, 237, 76);
    border-radius: 13px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}


.registerBtn:active {
    animation: press 0.2s 1 linear;
    }
    
    @keyframes press {
    0% {
    transform: scale(1);
    }
    
    50% {
    transform: scale(0.92);
    }
    
    to {
    transform: scale(1);
    }
    }
